html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero {
  color: #fafafa;
  padding: 2rem;
  margin: 100px 0;
  background-color: #42b983;
  border-bottom: 1px solid #e7e7e7;
}
